* {
  background-color: #621708;
}

h1, h2, p, ul {
  color: rgb(231, 191, 191);
}

.center {
  text-align: center;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 200px;
}