html {
  font-family: sans-serif;
  background-color: #972d07;
}

.hr {
  height: 5px;
  background-color: #972d07;
}

.header, .footer {
  background-color: #ffb20f;
  text-align: center;
  padding: 4px;
  border-radius: 15px;
}

main, main > p, h2, h3, h4 {
  background-color: #ff4b3e;
  padding: 5px;
  margin: 10px;
  border-radius: 15px;
}

main > ul > li {
  background-color: #ff4b3e;
  padding: 0;
  margin: 10px;
}

.center {
  text-align: center;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 200px;
}

table, th, td {
  border: 3px solid black;
  padding: 5px;
}

figure > table th {
  background-color: #972d07;
}

figure > table tr:nth-child(odd) {
  background-color: #972d07ad;
}

form {
  background-color: #b9372e;
}

form > fieldset {
  padding: 20px;
}

hr {
  margin: 20px;
}

fieldset > option {
  font-weight: bold;
}

input {
  margin: 5px;
}

input[type=radio] {
 margin-bottom: 1em;
}

input[type=submit], input[type=reset] {
  background-color: #972d07;
  color: #ffe548;
}