html {
  font-family: sans-serif;
  background-color: #972d07;
}

.hr {
  height: 5px;
  background-color: #972d07;
}

.header, .footer {
  background-color: #ffb20f;
  text-align: center;
  padding: 4px;
  border-radius: 15px;
}

main, main > p, main > h2, main > h3 {
  background-color: #ff4b3e;
  padding: 5px;
  margin: 10px;
  border-radius: 15px;
}

main > ul > li {
  background-color: #ff4b3e;
  padding: 0;
  margin: 10px;
}

.center, h2 {
  text-align: center;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 200px;
}