<div class="footer">
    <nav class="footer">
        <b>External Links:</b> <br>
        <a href="https://github.com/scatteraxis">Main GitHub</a>
        // <a href="https://scatteraxis.github.io/">Github.io</a>
        // <a href="https://webpages.charlotte.edu/asraha">CLT Web</a>
        // <a href="https://www.freecodecamp.org/scatteraxis">freeCodeCamp</a>
        // <a href="https://www.codecademy.com/profiles/scatteraxis">Codeacademy</a>
    </nav>
    <b>Designed by SDCX &copy; 2024</b>
    <br>
    <b>Certified in <a class="footer" href="https://www.freecodecamp.org/certification/scatteraxis/responsive-web-design">Responsive Web Design</a></b>
    <br>
    <a href="http://validator.w3.org/check?uri=referer">
        <img class="footer" src="images/html_validation_button.gif" alt="Validate HTML">
    </a>
    <a href="http://jigsaw.w3.org/css-validator/check/referer">
        <img class="footer" src="images/validation_button_css_rectangle_blue.gif" alt="Validate CSS">
    </a>
</div>