<div class="footer">
    <b>Designed by <a href="https://sdcx.co">SDCX</a> &copy; 2024</b>
    <div class="validation-buttons">
        <a href="https://validator.w3.org/#validate_by_html" target="_blank" class="validation-button">HTML Validation</a>
        <a href="https://jigsaw.w3.org/css-validator/" target="_blank" class="validation-button">CSS Validation</a>
        <a href="https://www.w3.org/WAI/WCAG21/quickref/" target="_blank" class="validation-button">WCAG Validation</a>
    </div>
</div>